.test-error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-buttons {
    display: flex !important;
    justify-content: space-evenly;
}

.test-alert {
    margin-top: 16px;
}