.filter-text {
    margin-bottom: 8px !important;
}

.catalog-search {
    margin-bottom: 16px;
}

.catalog-filters {
    margin-bottom: 16px;
    padding: 16px;
}

.catalog-list {
    display: flex;
    flex-direction: column !important;
}

.catalog-pagination {
    margin-top: auto;
    margin-bottom: 16px;
}