// ContactPage.scss

.contactContainerStyle {
    width: 100%;
    height: 400px;
  }
  
  .contactPaperStyle {
    margin-bottom: 30px;
    padding: 40px;
  }
  
  .contactPaperStyleMargin {
    padding: 15px;
  }
  
  .contactButtonStyle {
    margin-top: 20px;
  }
  