.checkout-stepper {
    padding-top: 24px !important;
    padding-bottom: 40px !important;
}

.checkout-container {
    display: flex !important;
    justify-content: flex-end !important;
}

.checkout-button {
    margin-top: 24px !important;
    margin-left: 8px !important;
}