.header-app-bar {
    background-color: #3b50b2 !important;
    position: static !important
}

.header-toolbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-home {
    color: inherit;
    text-decoration: none;
}

.header-list {
    display: flex;
}

.header-nav-style {
    color: inherit;
    text-decoration: none !important;
    &:hover { color: rgb(170, 170, 170) }
    &.active { color: #240747 }
}

.header-shopping-cart {
    margin-right: 16px !important;
}